.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.stack-describtion {
  font-size: 14px;
}

.card {
  background-color:white !important;
}

.demotext {
  border-width: 2px;
  border-style: dotted;
  border-color: #010507;
  width: 180px;
  height: 30px;
}

.button {
  cursor:pointer;
}