<main role="main" class="container">
  <h3>Monitoring</h3>
  <div class="jumbotron">
    <h3>Host 상태 대시보드 </h3>
    <div class="card col-sm-12 mx-auto mt-4">
      <br/>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://p.datadoghq.com/sb/174eefc94-5bba43b0a0?tv_mode=true"  width="700" height="700"> </iframe>
      </div>
      <div align="center"><a href="https://p.datadoghq.com/sb/174eefc94-5bba43b0a0" target="_blank">[큰 창으로 보기]</a></div>
    </div>
    
    <div class="card col-sm-12 mx-auto mt-4">
      <br/>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <a class="navbar-brand" href="#"><img src="/assets/images/0.5x/setup@0.5x.png"/></a><a href="{{rancherUrl}}" target="_blank">Rancher UI</a>
        </div>
        <br/>
      </div>
    </div>
  </div>
  
</main>